body {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
    overflow-x: hidden;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #323842;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 -15px 0;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #4D4D4D;

}

.btn {
    height: 65px;
    letter-spacing: 0.04em;
    border: none;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.8;
    background: radial-gradient(89.09% 89.09% at 50% 20%, #FFF84A 0%, #FFAB00 100%);
    border-radius: 50px;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    border-bottom: 3px solid #B67A00;
}

.page {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #242424;
}