@import './template';


body {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.14901960784313725);
    overflow-x: hidden;
}

// main
.intro {
    height: 860px;
    background-image: url(../../img/header_bg.jpg);
    background-size: cover;
    position: relative;
    padding: 10px 0;
    &__title {
        font-size: 70px;
        color: #fff;
        font-weight: normal;
        margin: 0;
        font-weight: bold;
    }
    &__vertical {
        color: #fff;
        font-weight: normal;
        position: absolute;
        transform: rotate(-90deg);
        left: -80px;
        top: 300px;
        font-style: italic;
    }
    &__trigger {
        margin-top: 400px;
    }
}